<tr class="tr-search-content">
  <!-- Important - Use the 'table-element-ellipsis' class to ensure the tooltip can find the center of this element -->
  <td data-th="Title: "><a href="" class="table-element-ellipsis" data-toggle="tooltip" data-placement="top" title="<%= search.search_param %>"><%= search.search_param %></a></td>

  <td data-th="Date Added: "><span><%= date_format(search.created_at) %></span></td>

  <td class="hidden-th-td">
    <a href="<%= search_path(search) %>" rel="nofollow" data-method="delete">
      Delete
    </a>
  </td>
</tr>